<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jcid.ansible</string>
	<key>connections</key>
	<dict>
		<key>BC864B03-96F7-4631-A222-82DB45EA724C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5615AFCD-0895-48C1-ADC7-EF29A6F37BF7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>JCID</string>
	<key>description</key>
	<string>Ansible documentation search</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Ansible documentation</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>_</string>
				<key>url</key>
				<string>http://docs.ansible.com/ansible/{query}_module.html</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5615AFCD-0895-48C1-ADC7-EF29A6F37BF7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ansible</string>
				<key>subtext</key>
				<string>Immediately open the Ansible module documentation</string>
				<key>text</key>
				<string>Ansible module documentation</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BC864B03-96F7-4631-A222-82DB45EA724C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>An Alfred workflow to easily open the Ansible module documentation.

For infomation about this workflow see:
- https://github.com/JCID/alfred-workflow-ansible</string>
	<key>uidata</key>
	<dict>
		<key>5615AFCD-0895-48C1-ADC7-EF29A6F37BF7</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>BC864B03-96F7-4631-A222-82DB45EA724C</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/JCID/alfred-workflow-ansible</string>
</dict>
</plist>
