<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0D48E676-C420-4A7C-89ED-66A1C7360169</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>lgtm</string>
			<key>text</key>
			<string>lgtm</string>
			<key>url</key>
			<string>https://www.lgtm.in/g</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
