[user]
	name = inamuu
	email = 8310973+inamuu@users.noreply.github.com
[ghq]
  root = ~/.ghq
  root = ~/www
[commit]
  template = ~/.commit_template
[core]
	editor = vim
[fetch]
  prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
